---
layout: 'layouts/main.njk'
---
<div id="Page-1" class="page-1 active_page">
{% include 'sections/hero.html' %}
{% include 'sections/new-release.html' %}
{% include 'sections/radio.html' %}
{% include 'sections/music.html' %}
</div>
<div id="Page-2" class="page-2" data-pg-ia-scene='{"dir":"v","s":"custom","d":"98%","o":"16px","s_t":"start","s_s":"end","e_t":"end","e_target":"this","e_s":"end","l":[]}'> 
{% include 'sections/about.html' %}
</div>