<div class="hero_wrapper" id="Home" style="overflow: hidden;"> 
    <div class="h_title_wrapper">
        <h1><span id="title_Key" data-pg-ia-hide>Key</span> <span id="title_Jay" data-pg-ia-hide>Jay</span> <span id="title_Music" style="color: #0492cc;" data-pg-ia-hide>Music</span></h1>
    </div>                 
    <div class="h_sub_title_wrapper">
        <h2 data-pg-ia='{"l":[{"name":"sub_title","trg":"now","a":"fadeInUp","dly":"2s"}]}' data-pg-ia-hide>So you like <span class="txt-rotate" data-period="2000" data-rotate='[ "VGM?", "EDM?", "MODERN ORCHESTRA?", "HIP-HOP?", "ROCK?" , "POP?" ]'></span></h2>
    </div>                 
    <div class="h_background" data-pg-ia='{"l":[{"trg":"load","a":{"l":[{"t":"","l":[{"t":"set","p":0,"d":0,"l":{"scale":1.2}},{"t":"tween","p":0,"d":1,"l":{"scale":1},"e":"Power4.easeOut"}]},{"t":"","l":[{"t":"set","p":0,"d":0,"l":{"opacity":0}},{"t":"tween","p":0,"d":0.5,"l":{"autoAlpha":1}}]},{"t":"$.h_play_button","l":[{"t":"set","p":0,"d":0,"l":{"x":"126vw"}},{"t":"tween","p":0.5,"d":0.5,"l":{"zIndex":99}},{"t":"tween","p":1,"d":1,"l":{"x":"-31vw"},"e":"Cubic.easeInOut"}]},{"t":"$#title_Key","l":[{"t":"set","p":0,"d":0,"l":{"opacity":0}},{"t":"tween","p":0.2,"d":0.56,"l":{"autoAlpha":1}}]},{"t":"$#title_Jay","l":[{"t":"set","p":0,"d":0,"l":{"opacity":0}},{"t":"tween","p":0.5,"d":0.59,"l":{"autoAlpha":1}}]},{"t":"$#title_Music","l":[{"t":"set","p":0,"d":0,"l":{"opacity":0}},{"t":"tween","p":0.8,"d":0.65,"l":{"autoAlpha":1}}]}]},"name":"Hero_Entrance"}]}'></div>                 
    <div class="h_play_button" onclick="showStart()" data-pg-ia='{"l":[{"trg":"mouseenter","a":{"l":[{"t":"","l":[{"t":"tween","p":0,"d":0.5,"l":{"scale":1.1}}]}]}},{"trg":"mouseleave","a":{"l":[{"t":"","l":[{"t":"tween","p":0,"d":0.5,"l":{"scale":1}}]}]}},{"trg":"no","a":{"l":[{"t":"$#blackout","l":[{"t":"tween","p":0,"d":0.86,"l":{"autoAlpha":1}}]},{"t":"$#mplayer_info_box_wrapper","l":[{"t":"tween","p":0.5,"d":0.9,"l":{"x":"-97vw"},"e":"Cubic.easeInOut"}]}]},"name":"PlaylistTip"}]}'> 
        <div class="play_circle_text_wrapper" style="position: absolute; width: 335px; margin-top: -52px; margin-left: -24px;"> 
            <svg class="play_circle_text rotating" viewBox="0 0 100 100" width="100" height="100" style="width: 100%;"> 
                <defs> 
                    <path id="circle" d="
M 50, 50
m -37, 0
a 37,37 0 1,1 74,0
a 37,37 0 1,1 -74,0"/> 
                </defs>                             
                <text font-size="8.2px"> 
                    <textPath xlink:href="#circle"> 
                        Don't think just play! Don't think just play! Don't think just PLAY!
</textPath>                                 
                </text>                             
            </svg>                         
        </div>                     
        <div class="play_icon" style="position: relative; width: 80%; margin-left: auto; margin-right: auto; margin-top: 0px;">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="position: absolute; width: 100%; fill: #0492cc; background-color: #fffdfd; border-radius: 190px;">
                    <path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/>
                </svg></a>
        </div>                     
    </div>                 
</div>