<div id="Music" class="music_wrapper"> 
    <div class="m_background"></div>                 
    <div class="m_content"> 
        <div class="section_headers m_header"> 
            <h1>Music</h1> 
        </div>                     
        <div class="catalog_wrapper"> 
            <div class="filter-controls" style="text-align: center;"> 
                <button type="button" class="btn btn-light filter-controls" data-filter="all">All</button>                             
                <button type="button" class="btn btn-light" data-filter=".albums">Album</button>
                <button type="button" class="btn btn-light" data-filter=".eps">EPs</button>                             
                <button type="button" class="btn btn-light" data-filter=".singles">Singles</button>                             
                <button type="button" class="btn btn-light" data-filter=".covers">Covers</button>                             
            </div>                         
            <div id="mix-container" class="mix-container" style="display: flex; width: 100%; flex-wrap: wrap; justify-content: center;"></div>                         
        </div>                     
    </div>                 
</div>