<div class="new_release_wrapper" id="New-Release" data-pg-ia-scene='{"dir":"v","s":"custom","d":"127%","o":"55px","s_t":"start","s_s":"end","s_o":"730px","e_t":"end","e_target":"this","e_s":"start","pag_t":"$.latest_nav","pag_i":"$.latest_nav","pag_pa":"LN_Active","pag_pd":"-LN_Active","pag_tc":"0","pag_bc":"0","l":[{"name":"bg","t":"this","a":{"l":[{"t":"#nr_background","l":[{"t":"set","p":0,"d":0,"l":{"filter":"blur(0px) brightness(1)"}},{"t":"set","p":0,"d":0,"l":{"y":"-81px"}},{"t":"tween","p":0.06,"d":1.79,"l":{"y":0}},{"t":"tween","p":1,"d":0.85,"s":0,"l":{"filter":"blur(20px) brightness(0.2)"},"e":"Linear.easeInOut"}]},{"t":".nr_content","l":[{"t":"set","p":0,"d":0,"l":{"y":102}},{"t":"set","p":0,"d":0,"l":{"opacity":0}},{"t":"tween","p":0.79,"d":0.49,"l":{"opacity":1}},{"t":"tween","p":0.79,"d":1,"l":{"y":0}}]}]}}]}'> 
    <div id="nr_background" class="nr_background"></div>                 
    <div class="nr_content"> 
        <div class="section_headers"> 
            <h1 class="heading">New Release</h1> 
            <div class="nr_video_block"> 
                <div class="res_youtube_vid"> 
                                             
                </div>                             
            </div>                         
        </div>                     
    </div>                 
</div>