<div class="radio_wrapper" id="Radio"> 
    <div id="r_background" class="r_background"></div>                 
    <div class="r_content"> 
        <div class="section_headers"> 
            <h1 id="radio_title" lass="heading-2">Radio</h1> 
        </div>                     
        <div class="r_network_wrapper"> 
            <div class="r_logo_box"> <a href="https://open.spotify.com/artist/3CjTB31prJSWcF487gKZ9Y" target="_blank"><img class="r_logo_box" id="r_spotify" src="/img/radio_logos/spotify.jpg" alt="Spotify"/></a> 
            </div>                         
            <div class="r_logo_box"> <a href="https://music.apple.com/us/artist/key-jay/439747860" target="_blank"><img class="r_logo_box" id="r_apple" src="/img/radio_logos/apple.jpg" alt="Apple Music"/></a> 
            </div>                         
            <div class="r_logo_box"> <a href="https://www.deezer.com/us/artist/5277095" target="_blank"><img class="r_logo_box" id="r_deezer" src="/img/radio_logos/deezer.jpg" alt="Deezer"/></a> 
            </div>                         
            <div class="r_logo_box"> <a href="https://open.spotify.com/artist/3CjTB31prJSWcF487gKZ9Y" target="_blank"><img class="r_logo_box" id="r_tidal" src="/img/radio_logos/tidal.jpg" alt="Tidal"/></a> 
            </div>                         
            <div class="r_logo_box"> <a href="https://music.amazon.com/artists/B0052BEBB6/key-jay" target="_blank"><img class="r_logo_box" id="r_amazon" src="/img/radio_logos/amazon.jpg" alt="Amazon Music"/></a> 
            </div>                         
            <div class="r_logo_box"> <a href="https://music.youtube.com/channel/UCsWj-kpSHEedeSdhw8mo7BA" target="_blank"><img class="r_logo_box" id="r_ymusic" src="/img/radio_logos/youtubemusic.jpg" alt="YouTube Music"/></a> 
            </div>                         
        </div>                     
    </div>                 
</div>